* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
canvas {
    border: 3px solid #F0FFF0;
}
#myCanvas {
    width: 800px;
    height: 800px;
    margin-top: 10px;
    background: #FFF5EE;
}
#box {
border-radius: 3px;
background: black;
color:white;
}
form {
align-content: center;
margin:10px 5px 0px 5px;
}
button {
    font-size: 20px;
    background: red;
    border: none;
    color:white;
    border-radius:2px;
}
